header {
    color: red;
    padding: 30px;
    background-color: yellow;
}

main {
    color: aqua;
    background-color: purple;
    width: 100px;
    height: 40px;
}

footer {
    color: blueviolet;
    background-color: green;
    width: 90px;
    height: 500px;
}