body,
ul {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.header {
    width: 100%;
    display: flex;
    padding: 16px;
    height: 70px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    background-color: #63c6ae;
    position: fixed;
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.nav a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nav li {
    padding: 18px;
    flex-grow: 1;
}

.nav li:hover {
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-delay: 0.10s;
    transform: translatey(30px);
    background-color: white;
}

.menu {
    display: flex;
    list-style: none;
    gap: 8px;
}

.menu a {
    display: block;
    padding: 8px;
}

#btn-mobile {
    display: none;
}

.section {
    height: 100vh;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.section__img {
    position: absolute;
    width: 100%;
}

.section__titulo {
    position: relative;
    background-color: #63c6ae;
    font-size: 28px;
    font-weight: 600;
    padding: 30px 20px;
    text-transform: uppercase;
}

.section__paragrafo {
    position: relative;
    background-color: #242a2c;
    padding: 20px;
    font-size: 16px;
}

.section__botao {
    position: relative;
    border: 1px solid rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.section-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: -20px;
}

.article__img {
    min-width: 100%;
}

.article__avatar {
    margin: -55px auto;
    width: 88px;
    height: 88px;
    overflow: hidden;
}

.article__texto {
    border-left: 1px solid #737c85;
    text-align: center;
    padding: 40px 25px 10px;
    line-height: 1.4;
}

.article__texto h2 {
    font-size: 21px;
    color: #737c85;
}

.article__texto p {
    font-size: 14px;
    color: #929da5;
}

.article-cards:hover {
    outline: 5px solid #63c6ae;
    outline-offset: -5px;
}

.article-cards:hover .article__avatar img {
    transform: translatey(-50%);
}